/* #region ==================== ABOUT ==================== */

.aboutContainer {
    border: 1px solid #ff00ff;

    width: 50%;
    margin: 100px auto;

    .aboutLogo {
        border: 1px solid #ff00ff;
        // width: 100%;
    }
}

.about {
    display: flex;
    margin-bottom: 20px;

    .aboutSpan {
        margin-right: 20px;
    }
}


.AboutItem {
    // border: 1px solid #666666;

    margin: 0;
    padding: 0;

    table {

        width: 100%;

        tbody {

            width: inherit;

            tr {
                // border: 1px solid #00ff00;

                width: inherit;

                td {
                    // border: 1px solid #999999;

                    vertical-align: text-top;

                    // width: 100%;
                    padding: 5px;
                }

                .tdKey {
                    // border: 1px solid #00ffff;

                    width: 12.5%;
                }

                // .tdValue {
                //     // border: 1px solid #00ffff;

                //     width: 85%;
                // }
            }
        }
    }
}

/* #endregion ==================== ABOUT ==================== */
