/* #region ==================== VARIABLES ==================== */

$body-width: 50vw;
$body-min-width: 820px;
// $body-max-width: 1200px;
$body-max-width: 960px;

// $workkNav-height: 80px;
$workkNav-height: 100px;

/* #endregion ==================== VARIABLES ==================== */


.contactImgHolder {
    // border: 2px solid #00ffff;

    width: 100%;
}