@import './Global.scss';


/* #region ========================= BASE ========================= */

.header * {
    margin: 0;
    padding: 0;
}

.header {
    // border: 02px solid #ff0000;

    background: #000000;

    color: #ffffff;
    line-height: 55px;
    text-align: left;

    width: 100vw;
    height: $header-height;

    // margin: 0;
    // padding: 0;

    position: fixed;
    z-index: 999;

    /* #region -------------------- .hed -------------------- */

    .hed {
        // border: 02px solid #0000ff;
        background: #000000;

        // color: #ff00ff;

        width: $body-width;
        min-width: $body-min-width;
        max-width: $body-max-width;

        height: inherit;

        margin: 0 auto;
        // padding: inherit;

        position: relative;

        display: block;

        .hed01 {
            // border: 02px solid #ff00ff;

            font-size: 30px;
            line-height: 1em;
            // letter-spacing: 0.00625em;

            width: auto;
            // height: inherit;

            // margin: 0;
            // padding: inherit;

            // position: inherit;
            // top: 10px;
            // left: 50px;

            position: absolute;
            // bottom: -17.5%;
            // bottom: -37.5%;
            bottom: 10%;
            left: 35px;

            // display: table-cell;
        }

        .hed02 {
            // border: 02px solid #00ffff;

            font-size: 20px;

            width: auto;
            // height: inherit;
            height: 75%;

            // margin: 0;
            // padding: inherit;

            // position: inherit;
            // top: 9.5px;
            // left: 60px;

            position: absolute;
            // bottom: -22.5%;
            bottom: 0;
            left: 310px;

            display: table-cell;
        }

        .contact {
            // border: 02px solid #ffff00;

            font-size: 18px;
            // letter-spacing: .05em;

            height: 73.75%;

            position: absolute;
            bottom: 0;
            right: 0;

            // margin: 0;
            // padding: inherit;

            display: table-cell;

            a, a:visited {
                color: #ffffff;
            }

            // .email {
            //     letter-spacing: inherit;
            // }
        }

        .logoIcon {
            // border: 02px solid #ff0000;

            // width: 150px;
            height: 125px;

            // margin: 0;
            // padding: 0;

            // position: relative;
            // top: -56px;
            // left: -100px;
            // z-index: 99;

            position: absolute;
            top: 7.5px;
            left: -120px;
            z-index: 99;

            display: block;
            overflow: visible;

            // cursor: pointer;


            /* #region -------------------- .logoIcon: clipping paths -------------------- */

            // -------------------- .logoIcon / afro --------------------

            #shigeru_logo_afro_k {
                // fill: #00ff00;

                clip-path: url(#shigeru_logo_afro_k_clip);
                -webkit-clip-path: url(#shigeru_logo_afro_k_clip);
            }

            #shigeru_logo_afro_w {
                // fill: #0000ff;
                // fill: #ffffff;

                clip-path: url(#shigeru_logo_afro_w_clip);
                -webkit-clip-path: url(#shigeru_logo_afro_w_clip);
            }

            // -------------------- .logoIcon / glasses --------------------

            #shigeru_logo_glasses_k {
                // fill: #00ff00

                clip-path: url(#shigeru_logo_glasses_k_clip);
                -webkit-clip-path: url(#shigeru_logo_glasses_k_clip);
            }

            #shigeru_logo_glasses_w {
                // fill: #0000ff;
                // fill: #ffffff;

                clip-path: url(#shigeru_logo_glasses_w_clip);
                -webkit-clip-path: url(#shigeru_logo_glasses_w_clip);
            }

            // -------------------- .logoIcon / kanji --------------------

            #shigeru_logo_kanji_w {
                // fill: #ff00ff;
                // fill: #ffffff;

                // clip-path: url(#header_clip);
                clip-path: url(#shigeru_logo_kanji_w_clip);
                -webkit-clip-path: url(#shigeru_logo_kanji_w_clip);
            }

            /* #endregion -------------------- .logoIcon: clipping paths -------------------- */
        }
    }

    /* #endregion -------------------- .hed -------------------- */


    /* #region -------------------- .navBarContainer -------------------- */

    .navBarContainer {
        // border: 2px solid #00ff00;
        // border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;

        // background: #ffffff;
        @include bgGradient01();

        width: $body-width;
        min-width: $body-min-width;
        max-width: $body-max-width;

        height: $navBar-height;
        // height: 30px;

        margin: 0 auto;
        // margin: -($navBar-height * 1.375) auto 0 auto;
        // padding: 0;

        position: absolute;
        // display: table;
        top: $header-height;
        left: 0;
        right: 0;


        /* #region -------------------- .navBar -------------------- */

        .navBar {
            // border: 2px solid #0000ff;
            // border-top: 1px solid #cccccc;
            // border-bottom: 1px solid #cccccc;

            // background: #ffffff;
            // background: none;
            @include bgGradient01();
            // @include bgGradient02();

            // color: #ffffff;
            color: #000000;
            font-size: 1.125em;
            text-align: center;

            width: 70%;
            // width: 50%;
            height: $navBar-height;

            margin: 0 auto;
            // margin: -($navBar-height * 0.75) auto 0 auto;
            // padding: 0;

            display: grid;
            // grid-template-columns: repeat(6, 16.666666666666667%);
            // grid-template-columns: repeat(6, auto);
            grid-template-columns: repeat(6, auto);
            column-gap: 0;
            align-items: center;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            // top: $header-height;
            // z-index: 999;

            .navItem {
                // border: 2px inset #ffff00;
                // border-right: 1px solid #cccccc;

                // background: none;

                color: inherit;
                text-decoration: none;

                height: inherit;

                // margin: 0;
                // padding: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                /* #region - - - - - - - - - - - A: link behavior - - - - - - - - - - - */

                // :link {
                //     color: #00ff00;
                // }

                // :visited {
                //     color: #ff00ff;
                // }

                // :hover {
                //     color: #ff0000;
                // }

                // :active {
                //     background: #eeeeee;
                //     color: #00ff00;
                // }

                /* #endregion - - - - - - - - - - - A: link behavior - - - - - - - - - - - */
            }

            /* #region - - - - - - - - - - - .navItem: Ferda A separators... doesn't work here - - - - - - - - - - - */

            // // A:before {
            // .navItem:before {
            // // .navItem:after {
            //     border: 2px inset #ff0000;
            //     // border-left: 0.5px solid #cccccc;
            //     // border-right: 0.5px solid #cccccc;

            //     content: "";
            //     width: 100%;
            //     height: 40%;

            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     // top: 30%;
            //     top: $header-height + $navBar-height/3;
            //     bottom: 0;
            // }

            /* #endregion - - - - - - - - - - - navItem: Ferda A separators... doesn't work here - - - - - - - - - - - */


            .activeNavDiv {
                // border: 2px inset #00ffff;

                // @include bgGradient01();
                // @include bgGradient02();
                @include bgGradient03();
                // mix-blend-mode: multiply;

                color: #ff0000;
                text-align: center;

                // width: auto;
                // height: $navBar-height;
                height: inherit;
                // height: 80px;

                position: absolute;
                // top: $header-height;
                left: 0;
                // left: 50vw;
                // z-index: -1;
            }
        }

        /* #endregion -------------------- .navBar -------------------- */


        /* #region -------------------- .workNav -------------------- */

        .workNav {
            // border: 1px solid #00ffff;

            // background: #ffffff;
            @include bgGradient01();

            // background: #eeeeee;
            // background: #ffffff;

            text-align: center;

            width: $body-width;
            min-width: $body-min-width;
            max-width: $body-max-width;

            height: $workNav-height;

            // margin: 0 auto;
            // margin: -5px auto 0 auto;
            margin: -15px auto 0 auto;
            // margin: -($workNav-height * 0.25) auto 0 auto;
            padding: 0;
            // padding: 5px 0 0 0;

            // position: fixed;
            position: absolute;
            top: 0;
            // top: -40px;
            // top: -55px;
            // top: 115px;
            // top: -$navBar-height;
            // top: $header-height;
            // top: $workNav-height;
            // top: $navBar-height;
            // top: $header-height + $navBar-height;
            // top: -($header-height - $navBar-height);
            // top: 0;
            left: 0;
            right: 0;
            z-index: -1;

            .employerIcon {
                // border: 1px solid #ff00ff;
                // border: 1px solid #cccccc;
                // border-right: 1px solid #cccccc;

                // @include bgGradient03();
                // mix-blend-mode: multiply;

                // width: 10.875%;
                width: 9.875%;
                // height: 100%;
                height: 90%;

                display: inline-block;
                vertical-align: middle;
                // vertical-align: top;

                margin: -5px 0 0 0;
                // margin: 0;
                // padding: 0;

                position: relative;
                z-index: 1;

                img {
                    // border: 1px solid #0000ff;

                    max-width: 65%;
                    // max-height: 85%;
                    max-height: 80%;

                    margin: auto;
                    // padding: 0;
                    // padding: 5px 0 0 0;

                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            /* #region - - - - - - - - - - - .employerIcon: Ferda A separators... - - - - - - - - - - - */

            .employerIcon:before {
                border-left: 0.5px solid #cccccc;
                border-right: 0.5px solid #cccccc;

                content: "";
                width: 100%;
                height: 40%;

                position: absolute;
                left: 0;
                right: 0;
                top: 30%;
                // top: 25%;
                bottom: 0;
            }

            /* #endregion - - - - - - - - - - - .employerIcon: Ferda A separators... - - - - - - - - - - - */

            .activeEmplDiv {
                // border: 2px inset #00ffff;

                // @include bgGradient01();
                // @include bgGradient02();
                @include bgGradient03();
                // mix-blend-mode: multiply;

                color: #ff0000;
                text-align: center;

                // width: auto;
                // height: $navBar-height;
                height: inherit;
                // height: 90%;

                position: absolute;
                // top: $header-height;
                top: 0;
                // left: 0;
                // left: 50vw;
                // z-index: -1;
            }

            .alert {
                border: 1px solid #00ffff;
                color: red;
                margin: 0;
                padding: 0;
            }
        }

        /* #endregion -------------------- .workNav -------------------- */


        /* #region -------------------- .resumeNav -------------------- */

        .resumeNav {
            // border: 1px solid #00ffff;

            @include bgGradient06();

            color: #000000;
            text-align: center;
            line-height: 1.5em;

            // width: $body-width;
            // min-width: $body-min-width;
            // max-width: $body-max-width;
            width: 20%;

            height: $workNav-height * 0.5;

            // margin: 0 auto;
            // margin: 0 0 0 80%;
            // margin: $header-height 0 0 80%;
            // margin: $navBar-height 0 0 80%;
            margin: ($navBar-height + 1) 0 0 80%;
            // margin: $workNav-height 0 0 80%;

            padding: 0;
            // padding: 5px 0 0 0;

            // position: absolute;
            // position: relative;
            // top: 0;
            // top: 100px;
            // top: $header-height;
            // top: $workNav-height;
            // top: $navBar-height + 1;
            // top: $navBar-height * 2;
            // top: calc($header-height + $workNav-height);
            // left: 0;
            // right: 0;
            // right: 0;
            z-index: -1;

            cursor: pointer;

            p {
                // border: 1px solid #ff00ff;
                height: inherit;
                margin: 0 auto;
                padding: 0;
            }
        }

        /* #endregion -------------------- .resumeNav -------------------- */
    }

    /* #endregion -------------------- .navBarContainer -------------------- */
}

/* #endregion ========================= BASE ========================= */



/* #region ========================= DESKTOPS: 1441px+ ========================= */

@media  
    only screen and (min-device-width: 1441px) 
    { 
        .navBurger {
            display: none;
        }
    }

/* #endregion ========================= DESKTOPS: 1441px+ ========================= */



/* #region ========================= LAPTOPS: 992px+ ========================= */

@media  
    // only screen and (min-device-width: 992px) 
    // only screen and (min-device-width: 992px), 
    only screen and (max-device-width: 1440px) 
    { 
        .header {
            // border: 02px solid #ff0000;

            /* #region -------------------- hed -------------------- */

            .hed {
                // border: 02px solid #0000ff;

                // left: -20px !important;

                .contact {
                    // border: 02px solid #ffff00;

                    right: -7.5vw !important;
                }
            }

            /* #endregion -------------------- hed -------------------- */

            .navBurger {
                display: none;
            }
        }
    }

/* #endregion ========================= LAPTOPS: 992px+ ========================= */



/* #region ========================= TABLETS: 768px ========================= */

@media  
    // only screen and (min-device-width: 768px) 
    // only screen and (min-device-width: 768px), 
    only screen and (max-device-width: 991px) 
    { 
        .header {
            // border: 02px solid #ff0000;

            /* #region -------------------- hed -------------------- */

            .hed {
                // border: 02px solid #0000ff;

                // left: -20px !important;

                .contact {
                    // border: 02px solid #ffff00;

                    right: -7.5vw !important;
                }
            }

            /* #endregion -------------------- hed -------------------- */

            .navBurger {
                display: none;
            }
        }
    }

/* #endregion ========================= TABLETS: 768px ========================= */



/* #region ========================= MOBILE: 375px ========================= */

@media  
    // only screen and (min-device-width: 375px) 
    // only screen and (min-device-width: 375px), 
    only screen and (max-device-width: 767px) 
    { 
        .header {
            // border: 02px solid #ff0000;

            height: 50px;

            /* #region -------------------- .hed -------------------- */

            .hed {
                // border: 02px solid #0000ff;

                // left: 0 !important;

                // .hed01 {
                // .hed02 {
                .contact {
                // .hed02, .contact {
                // .hed01, .hed02, .contact {
                    display: none;
                }

                .hed01 {
                    font-size: 1.625em;
                    // bottom: -5%;
                    // left: 26.25vw;
                    // bottom: -35%;
                    bottom: 10%;
                    left: 26.25vw;
                }

                .hed02 {
                // .contact {
                    color: #000000;
                    top: 40px;
                    left: 26.25vw;
                }

                .logoIcon {
                    height: 100px;

                    top: 7.5px;
                    left: -15px;
                }
            }

            /* #endregion -------------------- .hed -------------------- */


            /* #region -------------------- .navBarContainer -------------------- */

            .navBarContainer {
                // border: 1px solid #ff0000;
                border: none;

                // background: none;
                @include bgGradient05();

                font-size: 0.75em;

                width: 100vw;
                min-width: 100vw;
                max-width: 100vw;

                // height: 6.25vh;
                height: 7.5vh;

                // margin: -50px 0 0 0;
                // top: 0;

                // display: none;

                // position: absolute;
                // z-index: 99;


                /* #region -------------------- .navBar -------------------- */

                .navBar {
                    // border: 1px solid #00ff00;

                    background: none;
                    // @include bgGradient05();

                    font-size: 1.75em;

                    // width: 80%;
                    width: 100%;
                    height: inherit;

                    position: absolute;
                    // // top: inherit;
                    // // top: 0;
                    // // right: 0;
                    // z-index: 99;

                    grid-template-columns: repeat(1, auto);

                    .navItem {
                        // border: 1px solid #0000ff;
                        border-bottom: 1px solid #cccccc;

                        @include bgGradient01();

                        // width: 20%;

                        // margin: 0;
                        // padding: 0;
                    }

                    .activeNavDiv {
                        // border: 1px solid #ff00ff;
                        @include bgGradient04();

                        // width: inherit !important;
                    }
                }

                /* #endregion -------------------- .navBar -------------------- */


                /* #region -------------------- .workNav -------------------- */

                .workNav {
                    // border: 1px solid #ff00ff;

                    width: 20vw;
                    min-width: unset;
                    max-width: unset;

                    height: auto;

                    margin: 0;
                    padding: 0;

                    top: 60px;
                    // left: -80vw;
                    // left: 80vw;
                    // right: 0;

                    .employerIcon {
                        // border: 1px solid #00ffff;

                        width: 100%;
                        height: 7.5vh;

                        // display: unset;
                    }
                }

                /* #endregion -------------------- .workNav -------------------- */
            }

            /* #endregion -------------------- .navBarContainer -------------------- */


            /* #region -------------------- .navBurger -------------------- */

            .navBurger {
                // border: 1px solid #00ff00;
                // background: rgba(0,0,0,0.5);

                width: 50px;
                // height: $navBar-height;
                height: 95%;

                // margin: 0;
                // margin: $header-height 0 0 0;
                // padding: 0;

                position: absolute;
                top: 5%;
                right: 0;
                z-index: 9999;

                display: table-cell;
                // display: none;

                .navDrawer {
                    // border: 1px solid #00ff00;
                    // background: rgba(0,0,0,0.5);

                    width: inherit;

                    // margin: 0;
                    margin: $navBar-height 0 0 0;
                    // padding: inherit;

                    position: inherit;
                    right: inherit;

                    img {
                        // border: 1px solid #0000ff;
                        // background: rgba(255,255,255,0.5);
                        background: rgba(255,0,0,0.25);

                        width: 30%;

                        // margin: 0;
                        padding: 10px;
                    }
                }
            }

            /* #endregion -------------------- .navBurger -------------------- */
        }
    }

/* #endregion ========================= MOBILE: 375px ========================= */
