/* #region ==================== GENERAL ==================== */

@import './Global.scss';

* {
    font-size: 1em;
    line-height: 1.375em;
    text-align: center;
}

/* #endregion ==================== GENERAL ==================== */


/* #region ==================== GALLERY workItem format[s] ==================== */

.isotopeContainer {
    // border: 2px solid #ff0000;

    width: 100vw;

    margin: 0 auto;
    padding: 0;

    text-align: center;

    position: absolute;
    top: $header-height+$navBar-height;

    .workNavBar {
        // border: 2px solid #ff0000;

        // background: #ffffff;
        // background: rgba($color: #000000, $alpha: 0.75);

        font-size: 0.875rem;
        // line-height: 0.25rem;
        // line-height: 2.5rem;
        text-align: center;

        // width: 100vw;
        width: inherit;
        height: $navBar-height + 10px;

        text-align: center;
        // vertical-align: middle;

        margin: 0;
        // padding: 0;
        padding: 5px 0;

        .workNav {
            // border: 2px solid #00ff00;

            // line-height: 2.5rem;
            text-align: center;

            // width: inherit;
            height: inherit;

            margin: 0;
            padding: 0;

            // margin: 0 auto;
            // padding: 10px 0 0 0;

            // vertical-align: middle;

            display: flex;
            // align-items: center;
            justify-content: center;
            // justify-content: space-between;

            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);

            .workNavItem, .workNavItemLogo {
                // border: 2px solid #0000ff;
                // border-radius: 2.5px;

                // background: rgba($color: #ff0000, $alpha: 0.5);
                background: rgba($color: #ffffff, $alpha: 0.5);

                // font-size: 0.875rem;
                // line-height: 0.25em;
                // line-height: 2.5rem;
                // line-height: 2.875rem;
                // text-align: center;
                vertical-align: middle;

                // width: inherit;
                // height: inherit;
                // height: 100%;
                // height: $navBar-height+10px;

                // margin: 0;
                // padding: 0;

                margin: 0 5px;
                padding: 0 10px;
                // padding: 10px 20px;

                // grid-area: auto;

                cursor: pointer;

                // .workNavLogo {
                //     border: 2px solid #0000ff;

                //     max-width: 100px;
                //     // height: 20px;
                //     height: 80%;
                //     // height: inherit;

                //     // display: inline-block;
                //     vertical-align: middle;
                // }
            }

            .workNavItem {
                // border: 2px solid #0000ff;
                // border-radius: 2.5px;

                // background: rgba($color: #ff0000, $alpha: 0.5);
                // background: rgba($color: #ffffff, $alpha: 0.5);

                // font-size: 0.875rem;
                // line-height: 0.25em;
                // line-height: 2.5rem;
                line-height: 2.875rem;
                // text-align: center;
                // vertical-align: middle;

                // width: inherit;
                // height: inherit;
                // height: 100%;
                // height: $navBar-height+10px;

                // margin: 0;
                // padding: 0;

                // margin: 0 5px;
                // padding: 10px 20px;
                // padding: 0 10px;

                // grid-area: auto;

                // cursor: pointer;
            }

            .workNavItemLogo {
                // // border: 2px solid #0000ff;
                // border-radius: 2.5px;

                // background: rgba($color: #ffffff, $alpha: 0.5);

                // font-size: 0.875rem;
                // line-height: 0.25em;
                line-height: 2.5rem;
                // line-height: 2.875rem;
                // text-align: center;
                // vertical-align: middle;

                // // width: 20%;
                // // width: 100%;
                // // height: 5px;
                // height: 150%;
                // // height: 50%;
                // // height: inherit;

                // margin: 0;
                // padding: 0;

                // margin: 0 2.5px;
                // padding: 5px 10px;
                padding: 0 5px;

                // grid-area: auto;

                // cursor: pointer;

                .workNavLogo {
                    // border: 2px solid #0000ff;

                    width: 60px;
                    // max-width: 60px;

                    // height: 20px;
                    height: 100%;
                    // height: inherit;

                    // display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .toggleNav {
            // border: 2px solid #ff0000;
            background: rgba($color: #000000, $alpha: 0.5);

            // color: #ffffff;
            // line-height: .025rem;

            width: 7.5vw;
            // width: 10vw;
            // height: 100%;
            // height: inherit;
            // height: auto;

            margin: 0;
            padding: 7.5px 10px;

            position: absolute;
            top: ($navBar-height+10px)*0.25;
            // transform: translate(0 -($navBar-height+10px)*0.5);
            right: 15vw;

            .toggleBtn {
                // border: 2px solid #00ff00;

                color: #ffffff;
                // font-size: 0.875rem;
                // line-height: 0.5rem;
                // line-height: 2.5rem;
                // line-height: 2.875rem;

                // width: 100%;
                // height: 100%;
                // width: inherit;
                // height: inherit;

                // display: inline-block;
                // vertical-align: middle;

                cursor: pointer;

                // .toggleText {
                //     border: 2px solid #0000ff;

                //     color: #ffffff;
                //     font-size: 0.875rem;
                //     line-height: 2.5rem;

                //     // width: inherit;
                //     // height: inherit;
                //     // height: 100%;

                //     // margin: 0;
                //     // padding: 0;

                //     // display: inline-block;
                //     // vertical-align: middle;
                // }
            }
        }
    }


    .galleryContainer {
        // border: 2px solid #0000ff;

        margin: 20px auto 0 auto;
        padding: 0;

        .workItem {
            // border: 2px solid #00ffff;
            // border: 1px inset rgba($color: #000000, $alpha: 0.125);

            // background: rgba($color: #000000, $alpha: 0.0625);

            // color: #ffffff;
            font-size: 1rem;

            width: calc(16.6666666666667vw - 20px);

            // margin: 0;
            // padding: 0;

            margin: 0 5px 20px 15px;
            padding: 0 0 5px 0;

            img {
                width: 100%;
                // font-size: 1rem;

                margin: 0;
                padding: 0;
            }

            .itemInfo {
                // border: 2px solid #00ffff;
                // border: 1px inset rgba($color: #000000, $alpha: 0.125);

                // background: rgba($color: #000000, $alpha: 0.0625);
                background: linear-gradient(to top, rgba(0, 0, 0, 0.0625) 0%, rgba(255, 255, 255, 0) 80%);

                margin: 0;
                padding: 0;

                h3, p {
                    line-height: 1rem;
                    // text-align: center;
                    text-align: left;
                    // vertical-align: text-bottom;

                    // width: 100%;

                    margin: 0;
                    padding: 0;
                    // padding: 0 20px;
                    // display: table-cell;
                }

                h3 {
                    font-size: 0.875rem;
                    // font-size: 1.25rem;

                    // padding: 10px 0 0 0;
                    padding: 0 0 0 15px;
                }

                p {
                    font-size: 0.75rem;
                    // font-size: 1rem;

                    // padding: 0 0 0 20px;
                    padding: 0 0 5px 15px;
                    // padding: 0 0 5px 30px;
                }
            }
        }

        .masonryWidth2 {
            // width: 40vw;
            // width: calc(40vw - 30px);
            // width: 33.3333333333333vw;
            // width: calc(33.3333333333333vw - 20px);
            width: calc(33.3333333333333vw - 25px);
            // width: calc(32vw - 20px);
            // width: calc(50vw - 30px);
        }

        .masonryHeight2 {
            // height: 200px;
            // height: 20vh;
            // height: calc(16.6666666666667vw * 1.5);
            height: calc(16.6666666666667vw * 2);
        }
    }
}

/* #endregion ==================== GALLERY workItem format[s] ==================== */
