/* #region ==================== VARIABLES ==================== */

$body-width: 50vw;
$body-min-width: 820px;
// $body-max-width: 1200px;
$body-max-width: 960px;

// $workNav-height: 80px;
$workNav-height: 100px;

/* #endregion ==================== VARIABLES ==================== */


/* #region ==================== NOT FOUND ==================== */

h1, h2 {
    // border: 2px solid #ff0000;

    text-align: center;

    margin: 0;
    padding: 0;
}

/* #endregion ==================== NOT FOUND ==================== */
