@import './Global.scss';


/* #region ==================== BASE ==================== */

.workContainer {
    // border: 2px solid #0000ff;
    // background: #eeeeee;

    // width: 100vw;
    width: 97.5vw;

    margin: 0 auto;
    // padding: ($header-height + $navBar-height + $workkNav-height) 0 0 0;
    // padding: ($header-height + $navBar-height + $workkNav-height + 10) 0 0 0;

    position: absolute;
    top: ($header-height + $navBar-height + $workkNav-height + 10);
    left: 1.25vw;

    // .workList {
    //     // border: 2px solid #ff0000;
    //     // background: #eeeeee;

    //     width: 100%;
    //     // width: 98%;

    //     margin: 0 auto;
    //     padding: 0;
    //     // padding: 0 1vw;

        hr {
            margin: 10px 35%;
        }

        .importContainer {
            // border: 2px solid #ff0000;
            // background-color: #00ff00;
            // opacity: 0.25;

            color: #ff00ff;
            // font-size: 2em;
            font-weight: bolder;
            // line-height: 1em;
            // text-align: center;

            margin: 0;
            padding: 0;

            position: absolute;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            z-index: 9;

            .importedContent {
                // border: 2px solid #00ff00;

                margin: 0 auto;
                padding: 0;
            }
        }

        .masonrySection {
            // border: 2px solid #ff00ff;

            margin: 0;
            padding: 0 0 100px 0;

            .masonry {
                // border: 2px solid #ff00ff;

                .workItem {
                    // border: 2px solid #ff0000;

                    margin: 0;
                    padding: 0;

                    .masonryImg {
                        // border: 2px solid #00ffff;

                        width: 100%;

                        display: block;

                        // position: absolute;
                        // z-index: -999;

                        cursor: pointer;
                    }

                    .masonryInfo {
                        // border: 2px solid #00ffff;
                        background: #eeeeee;

                        // @include navbgGradient02();

                        letter-spacing: .0375em;

                        margin: 0;
                        // padding: 3.75% 6.25%;
                        padding: 10px 20px;
                    }
                }
            }
        }
    // }
}

.note {
    // border: 2px solid #0000ff;
    // background: none !important;

    text-align: center;
    line-height: 1.375em;

    margin: o;
    padding: 0;
}

/* #endregion ==================== BASE ==================== */



/* #region ========================= DESKTOPS: 1441px+ ========================= */

@media  
    only screen and (min-device-width: 1441px) 
    { 
    }

/* #endregion ========================= DESKTOPS: 1441px+ ========================= */



/* #region ========================= LAPTOPS: 992px+ ========================= */

@media  
    // only screen and (min-device-width: 992px) 
    // only screen and (min-device-width: 992px), 
    only screen and (max-device-width: 1440px) 
    { 
    }

/* #endregion ========================= LAPTOPS: 992px+ ========================= */



/* #region ========================= TABLETS: 768px ========================= */

@media  
    // only screen and (min-device-width: 768px) 
    // only screen and (min-device-width: 768px), 
    only screen and (max-device-width: 991px) 
    { 
        .workContainer {
            // border: 1px solid #ff00ff;

            .masonrySection {
                // border: 2px solid #ff00ff;

                .masonry {
                    // border: 2px solid #ff00ff;

                    .workItem {
                        // border: 2px solid #00ffff;

                        .masonryInfo {
                            // border: 2px solid #ff00ff;

                            font-size: 0.875em;
                        }
                    }
                }
            }
        }
    }

/* #endregion ========================= TABLETS: 768px ========================= */



/* #region ========================= MOBILE: 375px ========================= */

@media  
    // only screen and (min-device-width: 375px) 
    // only screen and (min-device-width: 375px), 
    only screen and (max-device-width: 767px) 
    { 
        .workContainer {
            // border: 1px solid #ff00ff;

            width: 70vw;
            // width: 72.5vw;
            min-width: 50vw;
            max-width: 100vw;

            // margin: 0 3.75vw;
            // margin: 0 2.5vw;
            padding: 0;

            position: absolute;
            top: 110px;
            // top: 120px;
            left: 25vw;

            .masonrySection {
                // border: 2px solid #ff00ff;

                .masonry {
                    // border: 2px solid #ff00ff;

                    .workItem {
                        // border: 2px solid #00ffff;

                        padding: 0 0 20px 0;

                        .masonryInfo {
                            // border: 2px solid #00ffff;

                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

/* #endregion ========================= MOBILE: 375px ========================= */
