@import './Global.scss';


/* #region ==================== BASE ==================== */

// :target:before {
#bannerPodID:before, #webPodID::before, #printPodID:before {
    content: "";
    display: block;
    height: 215px;
    margin: -215px 0 0 0;
}

.workContainer {
    // border: 2px solid #ff0000;
    // background: #eeeeee;

    // width: 100vw;
    width: 97.5vw;

    margin: 0 auto;
    // padding: ($header-height + $navBar-height + $workkNav-height) 0 0 0;
    // padding: ($header-height + $navBar-height + $workkNav-height + 10) 0 0 0;

    position: absolute;
    // top: ($header-height + $navBar-height + $workkNav-height + 10);
    top: ($header-height + $navBar-height + $workkNav-height + 10 + 45);
    left: 1.25vw;

    hr {
        margin: 10px 35%;
    }

    .sectionNav {
        // border: 2px solid #ff0000;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;

        @include bgGradient01();

        width: $body-width;
        min-width: $body-min-width;
        max-width: $body-max-width;

        // width: ($body-width * 0.5);
        // min-width: ($body-min-width * 0.5);
        // max-width: ($body-max-width * 0.5);

        text-align: center;

        margin: -50px auto 0 auto;
        padding: 5px;
        // padding: 5px 0 10px 0;

        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 999;

        a {
            color: #000000;
            text-decoration: none;

            p {
                // border: 2px solid #0000ff;
                border-left: 1px solid #cccccc;
                border-right: 1px solid #cccccc;

                font-size: 1.125em;
                text-align: center;
                letter-spacing: 0.0125em;

                padding: 0 10px;
                display: inline;
            }
        }
    }

    .masonrySection {
        // border: 2px solid #ff00ff;

        margin: 0;
        padding: 0 0 100px 0;

        .masonry {
            // border: 2px solid #ff00ff;

            .workItem {
                // border: 2px solid #ff0000;

                margin: 0;
                padding: 0;

                .masonryImg {
                    // border: 2px solid #00ffff;

                    width: 100%;

                    display: block;

                    // position: absolute;
                    // z-index: -999;

                    cursor: pointer;
                }

                .printImg {
                    // border: 2px solid #ff0000;

                    width: 100%;

                    display: block;

                    // position: absolute;
                    // z-index: -999;

                    // cursor: pointer;

                    // opacity: 0.375;
                }

                .missingImg {
                    // border: 2px solid #ff0000;

                    width: 100%;

                    display: block;

                    // position: absolute;
                    // z-index: -999;

                    // cursor: pointer;

                    opacity: 0.375;
                }

                .masonryInfo {
                    // border: 2px solid #00ffff;
                    border: 1px solid #eeeeee;
                    // border-top: 2px solid #ff0000;
                    border-top: none;

                    // background: #eeeeee;
                    @include bgGradient03();

                    letter-spacing: .0375em;

                    margin: 0;
                    // padding: 3.75% 6.25%;
                    padding: 10px 20px;
                }

                .extraInfo {
                    // border: 2px solid #00ffff;
                    // background: #eeeeee;

                    font-size: 0.8125em;

                    margin: 0;
                    // padding: 3.75% 6.25%;
                    padding: 10px 20px;
                }
            }
        }
    }

    .bannerContainer {
        // border: 2px solid #ff0000;
        // background-color: #00ff00;
        // opacity: 0.25;

        color: #ff00ff;
        // font-size: 2em;
        font-weight: bolder;
        // line-height: 1em;
        // text-align: center;

        margin: 0;
        padding: 0;

        position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        z-index: 9;

        .importedContent {
            // border: 2px solid #00ff00;

            margin: 0 auto;
            padding: 0;
        }
    }

    .banneriFrame, .banneriFrameOpen {
        // border: 2px solid #0000ff;
        border: none;

        // width: 300px;
        // height: 250px;

        margin: 0 auto;
        padding: 0;

        position: absolute;
        z-index: 99;
    }

    .banneriFrameClosed {
        // border: 2px solid #ff0000;

        display: none;
        z-index: 0;
    }

    .webiFrameContainer, .webiFrameContainerOpen {
        // border: 2px solid #ff0000;

        background: rgba($color: #000000, $alpha: 0.5);

        width: 100vw;
        height: 100vh;
        // width: 100%;
        // // height: 100%;
        // height: auto;

        position: fixed;
        top: 0;
        left: 0;
        // z-index: 0;
        z-index: 999;

        cursor: pointer;

        // .webiFrameOpen {
        .webiFrame {
            // border: 2px solid #0000ff;
            border: none;

            // background: none;
            // background: rgba($color: #000000, $alpha: 0.5);

            width: 50vw;
            height: 50vh;

            // width: 0;
            // height: 0;

            margin: 0 auto;
            padding: 0;

            position: fixed;
            // position: relative;
            // // top: ($header-height + $navBar-height + $workkNav-height + 10);
            // top: 12.5vh;
            // z-index: 999;

            // -ms-transform: scale(0.875);
            // -moz-transform: scale(0.875);
            // -o-transform: scale(0.875);
            // -webkit-transform: scale(0.875);
            // transform: scale(0.875);
            
            // -ms-transform-origin: 0 0;
            // -moz-transform-origin: 0 0;
            // -o-transform-origin: 0 0;
            // -webkit-transform-origin: 0 0;
            // transform-origin: 0 0;
        }

        // .webiFrameClosed {
            // border: 2px solid #0000ff;
            // // border: none;

            // width: 0;
            // height: 0;

            // margin: 0 auto;
            // padding: 0;

            // position: fixed;
            // top: 0;
            // left: 0;
            // z-index: 0;

            // display: none;
        // }
    }

    .webiFrameContainerClosed {
        // border: 2px solid #ff0000;

        position: absolute;
        z-index: 0;

        display: none;
    }

    .videoContainerOpen {
        // border: 2px solid #ff0000;
        // border: none;

        background: rgba($color: #000000, $alpha: 0.5);

        width: 100vw;
        height: 100vh;

        margin: 0 auto;
        padding: 0;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        cursor: pointer;

        .videoPlayer {
            // border: 2px solid #00ff00;
            // background: #999999;

            // width: 100%;
            // height: 80%;
            // height: 50%;
            height: 100%;

            padding: 0;

            position: absolute;
            top: 10%;
            left: 10%;
            // bottom: 0;
            // right: 0;

            // -ms-transform: scale(0.875);
            // -moz-transform: scale(0.875);
            // -o-transform: scale(0.875);
            // -webkit-transform: scale(0.875);
            // transform: scale(0.875);

            // -ms-transform-origin: 0 0;
            // -moz-transform-origin: 0 0;
            // -o-transform-origin: 0 0;
            // -webkit-transform-origin: 0 0;
            // transform-origin: 0 0;
        }
    }

    .videoContainerClosed {
        // border: 2px solid #ff0000;
        // border: none;

        // width: 0;
        // height: 0;

        // margin: 0 auto;
        // padding: 0;

        // position: fixed;
        // top: 0;
        // left: 0;
        // z-index: 0;

        position: absolute;
        z-index: 0;

        display: none;
    }

    .toggleBtnDiv {
        // border: 2px solid #ff0000;
        // background: #ffffff;

        text-align: right;

        // width: 5vw;
        // width: auto;
        width: 100px;
        height: 30px;

        // padding: 20px 10px;

        position: fixed;
        top: 10%;
        // right: 20vw;
        right: 10%;
        z-index: 9999;
        // float: right;

        p {
            padding: 5px;
        }

        // .toggleBtn {
        .toggleBtnShow {
            // border: 2px solid #00ff00;

            width: 100%;
            height: 100%;

            margin: 0;
            padding: 0;

            // display: inline;

            position: absolute;
            top: 0;
            left: 0;
            // right: 1.5vw;
            z-index: 9999;
        }

        .toggleBtnHide {
            // border: 2px solid #0000ff;

            display: none;

            position: fixed;
            // right: 1.5vw;
            z-index: 0;
        }
    }
}

.note {
    // border: 2px solid #0000ff;
    // background: none !important;

    text-align: center;
    line-height: 1.375em;

    margin: o;
    padding: 0;
}

/* #endregion ==================== BASE ==================== */



/* #region ========================= DESKTOPS: 1441px+ ========================= */

@media  
    only screen and (min-device-width: 1441px) 
    { 
    }

/* #endregion ========================= DESKTOPS: 1441px+ ========================= */



/* #region ========================= LAPTOPS: 992px+ ========================= */

@media  
    // only screen and (min-device-width: 992px) 
    // only screen and (min-device-width: 992px), 
    only screen and (max-device-width: 1440px) 
    { 
    }

/* #endregion ========================= LAPTOPS: 992px+ ========================= */



/* #region ========================= TABLETS: 768px ========================= */

@media  
    // only screen and (min-device-width: 768px) 
    // only screen and (min-device-width: 768px), 
    only screen and (max-device-width: 991px) 
    { 
        .workContainer {
            // border: 1px solid #ff00ff;

            .masonrySection {
                // border: 2px solid #ff00ff;

                .masonry {
                    // border: 2px solid #ff00ff;

                    .workItem {
                        // border: 2px solid #00ffff;

                        .masonryInfo {
                            // border: 2px solid #ff00ff;

                            font-size: 0.875em;
                        }
                    }
                }
            }
        }
    }

/* #endregion ========================= TABLETS: 768px ========================= */



/* #region ========================= MOBILE: 375px ========================= */

@media  
    // only screen and (min-device-width: 375px) 
    // only screen and (min-device-width: 375px), 
    only screen and (max-device-width: 767px) 
    { 
        .workContainer {
            // border: 1px solid #ff00ff;

            width: 70vw;
            // width: 72.5vw;
            min-width: 50vw;
            max-width: 100vw;

            // margin: 0 3.75vw;
            // margin: 0 2.5vw;
            padding: 0;

            position: absolute;
            top: 110px;
            // top: 120px;
            left: 25vw;

            .masonrySection {
                // border: 2px solid #ff00ff;

                .masonry {
                    // border: 2px solid #ff00ff;

                    .workItem {
                        // border: 2px solid #00ffff;

                        padding: 0 0 20px 0;

                        .masonryInfo {
                            // border: 2px solid #00ffff;

                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

/* #endregion ========================= MOBILE: 375px ========================= */
